:root {
    --primary-color: #1D3557;
    --secondary-color: #E63946;
    --background-color: #F1FAEE;
    --text-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

.highlight {
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

section {
    margin-bottom: 2rem;
}