@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .navigation a {
        display: block;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}